@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <h3>To Azure Active Directory B2C Training</h3>
</div>

<br />

<div class="row">
    <div class="col-md-9">
        <h2>Module 1 - Using Built In Policies</h2>
    </div>
    <div class="col-md-3" style="margin-top: 5px; vertical-align: middle;">
        <a class="pull-right btn btn-lg btn-success" href="https://login.microsoftonline.com/aadb2ctraining.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_Module1SignupSignin&client_id=b8aa71f6-fa3d-45e2-9454-7e85a983aa89&nonce=defaultNonce&redirect_uri=https%3A%2F%2Faadb2cawesomecomputers.azurewebsites.net&scope=openid&response_type=id_token&prompt=login">Go</a>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-9">
        <h2>Module 2 - Using IDPs with Azure AD B2C</h2>
    </div>
    <div class="col-md-3" style="margin-top: 5px; vertical-align: middle;">
        <a class="pull-right btn btn-lg btn-success" href="https://login.microsoftonline.com/aadb2ctraining.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_ADandFacebookSignUporSignInPolicy&client_id=b8aa71f6-fa3d-45e2-9454-7e85a983aa89&nonce=defaultNonce&redirect_uri=https%3A%2F%2Faadb2cawesomecomputers.azurewebsites.net&scope=openid&response_type=id_token&prompt=login">Go</a>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-9">
        <h2>Module 3 - Application Integration</h2>
    </div>
    <div class="col-md-3" style="margin-top: 5px; vertical-align: middle;">
        <a class="pull-right btn btn-lg btn-success disabled" href="#">Go</a>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-9">
        <h2>Module 4 - UX Customization using Built In Functionality</h2>
    </div>
    <div class="col-md-3" style="margin-top: 5px; vertical-align: middle;">
        <a class="pull-right btn btn-lg btn-success" href="https://login.microsoftonline.com/aadb2ctraining.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_Module4SignupSigninCustomized&client_id=b8aa71f6-fa3d-45e2-9454-7e85a983aa89&nonce=defaultNonce&redirect_uri=https%3A%2F%2Faadb2cawesomecomputers.azurewebsites.net&scope=openid&response_type=id_token&prompt=login">Go</a>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-9">
        <h2>Module 5 - Custom Policies 1</h2>
    </div>
    <div class="col-md-3" style="margin-top: 5px; vertical-align: middle;">
        <a class="pull-right btn btn-lg btn-success" href="https://login.microsoftonline.com/aadb2ctraining.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_Module5SignupSignin&client_id=b8aa71f6-fa3d-45e2-9454-7e85a983aa89&nonce=defaultNonce&redirect_uri=https%3A%2F%2Faadb2cawesomecomputers.azurewebsites.net&scope=openid&response_type=id_token&prompt=login">Go</a>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-9">
        <h2>Module 6 - Custom Policies 2 (REST APIs)</h2>
    </div>
    <div class="col-md-3" style="margin-top: 5px; vertical-align: middle;">
        <a class="pull-right btn btn-lg btn-success" href="https://login.microsoftonline.com/aadb2ctraining.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_ProfileEditObtainApiClaim&client_id=b8aa71f6-fa3d-45e2-9454-7e85a983aa89&nonce=defaultNonce&redirect_uri=https%3A%2F%2Faadb2cawesomecomputers.azurewebsites.net&scope=openid&response_type=id_token&prompt=login">Go</a>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-9">
        <h2>Module 7 — External IDPs, OIDC and SAML</h2>
    </div>
    <div class="col-md-3" style="margin-top: 5px; vertical-align: middle;">
        <a class="pull-right btn btn-lg btn-success" href="https://login.microsoftonline.com/aadb2ctraining.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_SignUpOrSignInWithSalesforceAndGoogle&client_id=b8aa71f6-fa3d-45e2-9454-7e85a983aa89&nonce=defaultNonce&redirect_uri=https%3A%2F%2Faadb2cawesomecomputers.azurewebsites.net&scope=openid&response_type=id_token&prompt=login">Go</a>
    </div>
</div>