<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="https://login.microsoftonline.com/aadb2ctraining.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_Module1Edit&client_id=b8aa71f6-fa3d-45e2-9454-7e85a983aa89&nonce=defaultNonce&redirect_uri=https%3A%2F%2Faadb2cawesomecomputers.azurewebsites.net&scope=openid&response_type=id_token">
            Edit Profile
        </a>
    </li>
    
    <li>
        <a href="https://login.microsoftonline.com/aadb2ctraining.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_Module1PasswordReset&client_id=b8aa71f6-fa3d-45e2-9454-7e85a983aa89&nonce=defaultNonce&redirect_uri=https%3A%2F%2Faadb2cawesomecomputers.azurewebsites.net&scope=openid&response_type=id_token">
            Reset Password
        </a>
    </li>
</ul>